.required{
    color: red;
}
#loginToast{
    min-width: 350px;
    font-size: 1.1rem;
    border-radius: 12px;
}

.custom-width{
    width: 80% !important;
}

@media (min-width: 768px){
    .custom-width{
        width: 50% !important;
    }
}