.low{
    background: #22C55E !important; 
    color: white;
}

.medium{
    background: #F59E0B !important;
    color: white;
}

.High{
    background: #EF4444 !important;
    color: white;
}

.Open{
    background: #22C55E  !important;
}

.progress{
    background: #0EA5E9 !important;
}

.closed{
    background: #64748B !important;
}